<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675485457437-54agutjutvk2c900lnns2ga1snoh2umd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675485457437-54agutjutvk2c900lnns2ga1snoh2umd</string>
	<key>API_KEY</key>
	<string>AIzaSyDavYhSaCCbjaqdQEecpUA-5ZUxSf8R_WM</string>
	<key>GCM_SENDER_ID</key>
	<string>675485457437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aatech.textingapp.Smooth</string>
	<key>PROJECT_ID</key>
	<string>slide-691ec</string>
	<key>STORAGE_BUCKET</key>
	<string>slide-691ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675485457437:ios:bb8eacfe48ede2294f3af4</string>
	<key>DATABASE_URL</key>
	<string>https://slide-691ec.firebaseio.com</string>
</dict>
</plist>